/* Login.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    background-color: #f0f0f0;
    border-radius: 5px;
    /* Light grey background */
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Soft shadow */
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.login-form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.login-form input:focus {
    outline: none;
    border-color: #555555;
    /* Blue border on focus */
}

.login-form button {
    padding: 12px;
    background-color: #464646;
    /* Blue button */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #6c6b6b;
    /* Darker blue on hover */
}

.login-container h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}